body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-responsive {
    width: 100%; /* Adjust width based on container */
    max-width: 600px; /* Prevents image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures image fits well */
}